body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/login.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    max-width: 400px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline-color: #009688;
}

button {    
    color: #fff;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #fff;
    color: #009688;
    border: 1px dotted #009688;
}

.btnRetour {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #009688;
    font-weight: bold;
}


#registrationForm {
    text-align: left;
}

#loginForm {
    text-align: left;
}
