body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/to.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Styles pour le conteneur principal */
.container {
    max-width: 400px;
    margin: 20px auto; /* Marge supérieure ajoutée pour espacer le formulaire */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styles pour le titre */
h1 {
    font-size: 24px;
    margin-bottom: 10px; /* Réduire la marge inférieure du titre */
    color: #333;
}

/* Styles pour le champ de saisie de tâches */
#taskInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styles pour le bouton "Ajouter" */
button {
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styles pour la liste de tâches */
ul {
    list-style-type: none;
    padding: 0;
}

/* Styles pour les éléments de la liste de tâches */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles pour les boutons "Modifier" et "Supprimer" */
button {
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

/* Styles pour les cases à cocher */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Styles pour l'affichage de l'utilisateur */
#userDisplay {
    font-size: 16px;
    margin-bottom: 10px;
}
